{{page-title "Home"}}
<div class="flex items-center full-height w-100 bg-white">
  <div class="w-100 pa3 mr2 h4">
    <code><h1 class="tc" data-test="welcome-header">Welcome</h1></code>
    <p class="tc">GitHub public and private repositories for a GitHub organization.</p>
    <p class="tc">User should be able to enter their GitHub organization name and the app would show their repositories.</p>
    {{outlet}}
    <p class="tc">Checkout <a href="/tests?dockcontainer" target="_blank" rel="noopener" data-link="tests">Application test cases</a> ...</p>
  </div>
</div>
