.nav-bar {
  background: linear-gradient(45deg, #6061e0, #474571);
  .logo {
    cursor: pointer;
    padding: 14px 32px 9px;
    line-height: 1.5;
    .octicon {
      fill: #FFFFFF;
      display: inline-block;
      &:hover {
        fill: rgb(255 255 255 / 70%);
      }
    }
  }
  .link {
    text-decoration: none;
    box-shadow: inset 0px -3px transparent;
    line-height: 1.9;
    color: #a2a2a2;
    &:hover {
      color: #FFFFFF;
    }
    &.active {
      color: #FFFFFF;
      box-shadow: inset 0px -3px #ab7ffc;
    }
  }
}
